* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  background: #212529;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  color: rgb(11, 239, 235);
}
.main-content {
  background: #000;
}
.light {
  color: #fff !important;
}
Link {
  color: #fff !important;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}